[submodule "esplora-js"]
	path = esplora-js
	url = ../esplora-js.git
[submodule "research"]
	path = research
	url = ../research.git
[submodule "module-manager"]
	path = module-manager
	url = ../module-manager.git
[submodule "hash-js"]
	path = hash-js
	url = ../hash-js.git
[submodule "numbers-js"]
	path = numbers-js
	url = ../numbers-js.git
[submodule "primes-js"]
	path = primes-js
	url = ../primes-js.git
[submodule "accumulator-js"]
	path = accumulator-js
	url = ../accumulator-js.git
[submodule "finite-field-js"]
	path = finite-field-js
	url = ../finite-field-js.git
[submodule "buffer-js"]
	path = buffer-js
	url = ../buffer-js.git
[submodule "bitcoin-js"]
	path = bitcoin-js
	url = ../bitcoin-js.git
[submodule "elliptic-js"]
	path = elliptic-js
	url = ../elliptic-js.git
